---
layout: base
---

<section class="projects">
  <h2>Projects</h2>
  <ul class="home-projects">
    {% for project in collections.projects %}
      <li class="home-projects__list-item">
        <h3>{{ project.data.name }}</h3>
        <p>{{ project.data.synopsis }}</p>
      </li>
    {% endfor %}
  </ul>
</section>