.hamburger__nav {
  z-index: 10;
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-x: hidden;
  &-list {
    list-style-type: none;
    padding: 5rem 3rem;
    li {
      padding-bottom: 5rem;
      font-weight: bold;
      font-size: 1.5rem;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.main__navigation {
  a {
    color: white;
    text-decoration: none;
  }
  height: 5rem;
  background-color: #000;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 1rem;
    }
    span {
      color: #ff0000;
    }
  }
  ul {
    float: right;
    display: flex;
    height: 5rem;
    align-items: center;
    list-style-type: none;
    li {
      padding: 1rem 2.5rem;
      a {
        font-size: 1.2rem;
        color: white;
        transition: all .2s;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #ff0000;
        }
      }
    }
  }
}