html {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
}

main {
  width: 85%;
  margin: auto;
  padding: 5rem 0;
  max-width: 150rem;
}

@media(max-width:800px) {
  main {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
  }
}

#main-content {
  position: relative;
  background-color: #161616;
  i {
    float: right;
    font-size: 2rem;
    padding: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}