<div class="about__body">
  <div class="about__header">
    <div class="about__header--image">
      <img src="./../assets/img/ico.png" />
    </div>
    <div class="about__header--titles">
      <h2>About me</h2>
      <p>Ambitious Fullstack JavaScript developer who is always online looking for new tips and tricks to make a website look awesome. I started programming when I was 15. I first learned C# and the basics of HTML and CSS. Right away I knew I wanted to learn more about making websites.</p>
      <div class="about__header--skills">
    <div>
      <h4>Skills I have learned:</h4>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React.js</li>
        <li>Node.js</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
    <h4>Libraries I like to use:</h4>
      <ul>
        <li>Three.js</li>
        <li>gsap</li>
        <li>p5.js</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
    </div>
  </div>
  <div class="about__skills">
    <div>
      <h4>Skills I have learned:</h4>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React.js</li>
        <li>Node.js</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
    <h4>Libraries I like to use:</h4>
      <ul>
        <li>Three.js</li>
        <li>gsap</li>
        <li>p5.js</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
</div>