<div class="contact__body">
 <h2>Contact me</h2>
 <div>
  <h3>You can contact me via: </h3>
  <ul>
   <li><a href="mailto: arthtemm@gmail.com"><i class="fas fa-envelope"></i></a></li>
   <li><a href="https://www.linkedin.com/in/arthur-temmerman-3a73681b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
   <li><a href="https://github.com/pgm-arthtemm" target="_blank"><i class="fab fa-github"></i></a></li>
  </ul>
 </div>
</div>