---
name: Crypto Webshop
synopsis: Project for @work-2, Arteveldehogeschool
body: Make a webshop that offer products from different productcategories. Use Node.js, Express, Passport, SQLite, Jest,...
tech: ["HTML", "CSS", "SCSS", "JavaScript", "Express.js", "Node.js", "Passport.js", "SQLite3", "Sequelize", "Jest"]
status: in development
---