---
name: Crypto Webshop
synopsis: Project for @work-2, Arteveldehogeschool
body: Make a webshop that offer products from different productcategories. Use Node.js, Express, Passport, SQLite, Jest,...
image: Arlan
status: under contruction
---