---
name: Developer Quiz
synopsis: Project for programming-3, Arteveldehogeschool
body: Make a mobile application for a Developer Quiz. You consume data from the QuizAPI to request questions and answers.
image: devquiz
status: finished
tech: ["HTML", "CSS", "JavaScript"]
link: https://github.com/pgm-arthtemm/developer-quiz
---