---
name: MovieDB React App
synopsis: Project for programming-4, Arteveldehogeschool
body: Make a Movie application where you offer movies and/or tv shows from different categories.
tech: ["React.js", "State management (Context API)", "React Router DOM", "SCSS", "Storybook", "Firebase Authentication", "Firestore"]
status: in development
---