---
name: Spotify API
synopsis: Project for programming-3, Arteveldehogeschool
body: Create an API to manage songs and playlists. The API allows you to add songs as an administrator, every member can create and manage playlists.
image: spotify
status: finished
---