---
name: Spotify API
synopsis: Project for programming-3, Arteveldehogeschool
body: Create an API to manage songs and playlists. The API allows you to add songs as an administrator, every member can create and manage playlists.
tech: ["HTML", "CSS", "JavaScript", "Passport.js", "Express.js", "SQLite3", "Jest"]
status: finished
link: https://github.com/pgm-arthtemm/spotify-api
---
