---
name: Tinder Clone
synopsis: Project for programming-2, Arteveldehogeschool
body: Make a webshop that offer products from different productcategories. Use Node.js, Express, Passport, SQLite, Jest,...
tech: ["HTML", "CSS", "JavaScript", "Express.js", "Node.js"]
status: finished
---