<div class="contact">
  <h3>Contact</h3>
  <form class="contact-form" action="contactform.php" method="post">
    <input type="text" name="name" placeholder="Your name">
    <input type="email" name="mail" placeholder="Your e-mail">
    <input type="text" name="subject" placeholder="Subject">
    <textarea name="message" placeholder="Your message"></textarea>
    <button type="submit" name="submit">Send mail</button>
  </form>
</div>