<div class="hamburger__menu">
  <i class="fas fa-bars"></i>
  <nav class="hamburger__nav">
    <i class="fas fa-times"></i>
    <ul class="hamburger__nav-list">
      <li><a href="#">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="main__navigation">
  <nav>
    <a href="./../">
      <h2>Arthur <span>Temmerman</span></h2>
    </a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>