<div class="landing">
  <div class="landing-text">
    <p>Hello, I am Arthur Temmerman</p>
    <span class="txt-type" data-wait="3000"
      data-words='[" Developer", " Designer", " Programmer", "Creator"]'></span>
    <a href="#main-content">Discover<i class="fas fa-arrow-up"></i></a>
  </div>
</div>